html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html {
    height: 100%;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(153, 153, 153), rgb(207, 207, 207));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.button{
  background-color: rgb(53, 52, 52);
  border: none;
  color: white;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 11vw;
  max-width: 11vw;
  padding: 15px 32px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: transform .1s;
  z-index: 10;
}

.button:hover{
    transform: scale(1.00);
    background-color: rgb(83, 83, 83);
}

.button:active{
    background-color: rgb(218, 218, 218);
    transform: scale(1.02);
}

nav{
    margin-right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    min-width: 100vw;
    max-width: 100vw;
    min-height: 10vh;
    max-height: 10vh;
    background: rgba(37,37,37,0.8);
    color: white;
    font-size: 170%;
    font-weight: bold;
    z-index: 6;
}

.nav-links{
    width: 43%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 5;
}

.images{
    cursor: pointer;
    width: 349px;
    height: 349px;
}

.images-inv {
    width: 0;
    height: 0;
    visibility: hidden;
}

.button-img{
    background-color: rgb(53, 52, 52);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: solid white;
    border-width: 1px;
    cursor: pointer;
    transition: transform .1s;
}

.button-img:hover{
    transform: scale(1.03);
    background-color: rgb(83, 83, 83);
}

.button-img:active{
    background-color: rgb(214, 214, 214);
    transform: scale(0.99);
}

.button-comment {
    background-color: rgb(53, 52, 52);
    border: none;
    color: white;
    margin-top: 1px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: solid white;
    border-width: 1px;
    cursor: pointer;
    transition: transform .1s;
}

.button-comment:hover{
    transform: scale(1.03);
    background-color: rgb(83, 83, 83);
}

.button-comment:active{
    background-color: rgb(214, 214, 214);
    transform: scale(0.99);
}

.header-text{
    /* margin-right: auto;
    text-align: left; */
    font-size: 150%;
    font-weight: bold;
}

.portrait{
    border: solid black 1px;
    transition: transform .2s;
}

.portrait:hover{
    transform: scale(1.02);
}

.contact-box{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100vh;
    height: 80vh;
    background-color: rgba(0, 44, 80, 0.384);
    border-radius: 5%;
    color: white;
}

.contact-box-enter {
    opacity: 0.01;
}

.contact-box-enter-active {
    opacity: 1;
    transition: all 0.8s ease-in;
}

.contact-box h1 {
    color: white;
}

.home{
    width: 100%;
}

.home-enter {
    opacity: 0.01;
}

.home-enter-active {
    opacity: 1;
    transition: all .60s ease-in;
}

.loading {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 150px;
    height: 150px;
    align-self: center;
}

.gallery-element {
    background-image: linear-gradient(rgb(151, 151, 151), white);
    border: 2px solid black;
    max-width: 349px;
    word-wrap: break-word;
    transition: all 0.1s ease-in;
}

.gallery-element:hover {
    transform: scale(1.02);
}

.table {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    max-width: 700px;
    border-spacing: 15px;
    border-collapse: separate   ;
}

.heart {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    max-width: 150px;
    margin-left: 100px;
    margin-top:-250px;
}

.heart-showing {
    scale: 150%;
    opacity: 1;
    transition: all .5s ease-in;
    position: absolute;
    max-width: 165px;
    margin-left: 90px;
    margin-top:-255px;
    pointer-events: none;
}
.testdiv {
    border-radius: 20px;
    margin: auto;
    height: 40vh;
    width: 40vh;
    background-image: linear-gradient(to bottom, #ff9999, #ff5b5b),
    linear-gradient(to bottom, #e5b1ff, #e5b1ff);
}

.gallery-popup {
    z-index: 1000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-size: 250%;
    margin-left: 28vw;
    margin-right: 0;
    margin-top: 30vh;
    word-wrap: none;
    color: white;
    pointer-events: none;
}

.comment {
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(70, 69, 69));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 0.4px;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: white;
    -moz-text-stroke-width: 0.4px;
    font-size: 120%;
    font-family: sans-serif;
}

.dropdown-content-visible {
    list-style: none;
    position: absolute;
    z-index: -5;
    max-height: 10vh;
    opacity: 1; 
}

.music {
    background-image: url("./resources/notesbg.png"), linear-gradient(rgb(153, 153, 153), rgb(207, 207, 207));
    background-size: cover;
}

.video {
    width: 512px;
    height: 288px;
    position: 'absolute';
    border: solid 1px black;
}

.verticalMenu {
    width: 99.9vw;
}

.verticalMenu button {
    background-color: rgb(53, 52, 52);
    opacity: 0.8;
    border: none;
    color: white;
    min-height: 10vh;
    max-height: 10vh;
    min-width: 100vw;
    max-width: 100vw;
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: transform .1s;
    z-index: 10;
}

.verticalMenu button:hover{
    transform: scale(1.00);
    background-color: rgb(83, 83, 83);
 }
  
.verticalMenu button:active{
    background-color: rgb(218, 218, 218);
    transform: scale(1.02);
}

.musicImages {
    width: 220px;
    height: 288px;
    position: relative;
    border: solid black 1px;
    transition: all .1s ease-in;
}

.musicImages:hover {
    transform: scale(1.02);
}

.paragraphTd {
    position: absolute;
    min-width: 45vw;
    min-height: 288px;
    max-height: 288px;
    background-color: white;
    opacity: 0.95;
    vertical-align: top;
    border: solid black 1px;
}

.paragraphTdFood {
    position: absolute;
    min-width: 32vw;
    min-height: 288px;
    max-height: 288px;
    background-color: white;
    opacity: 0.95;
    vertical-align: top;
    border: solid black 1px;
}

.paragraph {
    height: 288px;
    max-height: 288px;
    min-height: 288px;
    font-size: 20px;
}

.foodImages {
    height: 288px;
    width: 400px;
    position: relative;
    border: solid black 1px;
    transition: all .1s ease-in;
}

.foodImages:hover {
    transform: scale(1.02);
}

.surveyForm input {
    display: block;
    margin-bottom: 5px;
    width: 300px;
}

.surveyForm input[type=radio] {
    width: auto;
}

.surveyComment {
    width: 300px;
    height: 60px;
}

.button-comment-survey {
    display: block;
    background-color: rgb(53, 52, 52);
    border: none;
    color: white;
    margin-top: 1px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: solid white;
    border-width: 1px;
    cursor: pointer;
    transition: transform .1s;
}

.submitted-table {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    border-spacing: 15px;
    border-collapse: separate   ;
}

.submittedTd {
    background-image: linear-gradient(rgba(187, 187, 255, 0.5), rgba(255, 255, 255, 0.466));
    border-radius: 5%;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.submittedTd h1 {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(14, 14, 14);
}

.submittedTd p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 23px;
    max-width: 300px;
    word-wrap: break-word;
    padding: 13px;
}

.surveyPopupHidden {
    visibility: hidden;
    opacity: 0;
}

.surveyPopup {
    text-align: center;
    transition: all 1.5s ease-in;
    visibility: visible;
    opacity: 1;
    transform: scale(1.5);
}

.movies {
    background-image: url("./resources/cinema.png"), linear-gradient(rgba(153, 153, 153), rgb(207, 207, 207));
    background-size: cover;
}

.genderDiv {
    display: inline-block;
}

.genderDiv div {
    display: block;
}

.genderDiv label {
    float: left;
    clear: none;
    display: block;
}

.genderDiv input {
    float: left;
    clear: none;
}

.newsContent {
    list-style: none;
    display: flexbox;
    justify-content: center;
    left: 5vw;
    min-height: 35vh;
    max-height: 35vh;
    min-width: 30vw;
    max-width: 30vw;
    border: black 1px solid;
    margin: 2px;
    position: relative;
    text-align: center;
    float: left;
    transition: transform .1s ease-in;
    background-image: linear-gradient(rgba(255, 255, 255, 0.445),rgba(182, 182, 182, 0.74));
}

.newsContent:hover {
    transform: scale(1.02);
}

.newsContent img {
    align-self: flex-end;
    height: 25vh;
    width: auto;
    margin-bottom: auto;
    position: absolute;
    bottom: 2px;                 
    left: 50%;                   
    transform: translateX(-50%);
    border: solid 1px rgba(0, 0, 0, 0.445)
}

.newsContent a {
    font-size: 20px;
    text-decoration: none;
    color:black;
}

.formDiv {
    word-wrap: break-word;
    margin-top: 40px;
    margin-left: 15px
}

.formDiv input {
    margin: 3px;
    display: block;
    width: 15vw;
    font-size: 20px;
    border-radius: 3px;
}

.formDiv textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 3px;
    display: block;
    width: 16vw;
    height: 30vh;
    border-radius: 3px;
}

.formDiv button {
    min-height: 4vh;
    min-width: 4vw;
    padding: 5px 10px;
    margin-left: 3px;
    margin-top: 9px;
    display: block;
    border-radius: 3px;
}

.blogPost {
    display: flexbox;
    max-width: 25vw;
    margin: 5px;
    align-self: center;
    border: solid 1px black;
    border-radius: 1px;
    transition: transform .1s ease-in, opacity .2s ease-in;
    background-image: linear-gradient(rgba(255, 255, 255, 0.445),rgba(182, 182, 182, 0.74));
    min-width: 0;
}

.blogPost:hover {
    transform: scale(1.02);
}

.blogPostClicked {
    display: flexbox;
    max-width: 25vw;
    margin: 5px;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    transition: transform .3s ease-in;
}

.blogPostClicked:hover {
    transform: scale(1.02);
}

.blogPostClicked p{
    font-size: 20px;
    word-wrap: break-word;
}



.blogPost p {
    font-size: 20px;
    word-wrap: break-word;
}

.blogDiv {
    display: flex;
    justify-content: flex-start;
}

.blog {
    display: flex;
    justify-content: flex-start;
    position: relative;
    max-width: 80vw;
    float: left;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.signature {
    float: right;
    margin-right: 3px;
    margin-bottom: 3px;
}

.blogHeader {
    background: -webkit-linear-gradient(left, rgb(0, 0, 0) , rgb(32, 34, 44));
    background: -o-linear-gradient(left, rgb(0, 0, 0) , rgb(32, 34, 44));
    background: -moz-linear-gradient(left, rgb(0, 0, 0) , rgb(32, 34, 44));
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(32, 34, 44));
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}