html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.button{
  background-color: rgb(53, 52, 52);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border: solid white;
  border-width: 1px;
  cursor: pointer;
  transition: transform .1s;
}

.button:hover{
    transform: scale(1.07);
    background-color: rgb(83, 83, 83);
}

.button:active{
    background-color: rgb(218, 218, 218);
    transform: scale(1.02);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    min-height: 15vh;
    background: rgb(37, 37, 37);
    color: white;
    font-size: 150%;
}

.nav-links{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 8%;
}

.images{
    width: 75%;
    height: 75%;
}

.button-img{
    background-color: rgb(53, 52, 52);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: solid white;
    border-width: 1px;
    cursor: pointer;
    transition: transform .1s;
}

.button-img:hover{
    transform: scale(1.03);
    background-color: rgb(83, 83, 83);
}

.button-img:active{
    background-color: rgb(214, 214, 214);
    transform: scale(0.99);
}

.header-text{
    margin-right: auto;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}

.portrait{
    transition: transform .2s;
}

.portrait:hover{
    transform: scale(1.02);
}